.row {
    width: 100%;
    display: flex;
}
.col {
    flex: 1;
    background-color: green;
    margin: 1%;
    color: white;
    text-align: left;
    font-weight: bold;
    padding-left: 2%;
}
.col-2 {
    flex: 2;
    background-color: green;
    margin: 1%;
    color: white;
    text-align: left;
    font-weight: bold;
    padding-left: 2%;
}
.col-3 {
    flex: 2;
    background-color: green;
    margin: 1%;
    color: white;
    text-align: left;
    font-weight: bold;
    padding-left: 2%;
}